---
import Layout from '../../layouts/Layout.astro';
import PortfolioHero from '../../components/portfolio/PortfolioHero.astro';
import PortfolioGrid from '../../components/portfolio/PortfolioGrid';
import Contact from '../../components/Contact.astro';
import { PortfolioItems } from '../../data/PortfolioItems';

export function getStaticPaths() {
  return [
    { params: { category: 'eventos' } },
    { params: { category: 'corporativo' } },
    { params: { category: 'publicidade' } },
    { params: { category: 'ensaios' } }
  ];
}

const { category } = Astro.params as { category: 'eventos' | 'corporativo' | 'publicidade' | 'ensaios' }; // Garante que category é uma das chaves
const categoryTitles = {
  eventos: 'Eventos',
  corporativo: 'Corporativo',
  publicidade: 'Publicidade',
  ensaios: 'Ensaios'
} as const; // Define categoryTitles como um objeto com propriedades imutáveis

const title = categoryTitles[category] || 'Portfólio';
const seoDescription = `Confira nossos trabalhos de ${title.toLowerCase()} - LYTSPOT`;
---

<Layout title={title} description={seoDescription}>
  <PortfolioHero category={category} />
  <section class="py-20 bg-dark">
    <PortfolioGrid client:load initialCategory={category} />
  </section>
  <Contact />
</Layout>
